.loquesomos {
  min-width: 300px;
  padding: 50px;
  height: 80%;
}

.section-video-nosotros {
  max-height: 50%;
}

.videos {
  text-align: center;
  width: 100%;
  max-height: 50%;
  height: 590px;
  object-fit: cover;
}

.section-imagen-nosotros {
  width: 100%;
}
.section-imagen-nosotros img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.letra {
  min-width: 320px;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  text-decoration: solid;
  color: blue;
}

.formulario {
  padding: 10px;
  margin-top: 15px;
  background-color: azure;
  border-radius: 6px;
  color: black;
}
.formulario .bottons {
  text-align: center;
  width: 100%;
  background-color: white;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 1.1rem;
}

.formulario p {
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

.container-lg {
  text-align: center;
  padding: 30px;
}
.container-lg h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.registro {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: solid;
  color: blue;
}

.mapa {
  margin: 10px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: azure;
}

html {
  height: 100%;
}

header {
  padding: 20px;
  height: 160px;
  background-color: azure;
}
header .text-center img {
  max-height: 140px;
  max-width: 300px;
  animation-name: efecto_logo;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 0s;
}

.bg-navbar {
  background-color: azure;
  border-bottom: #035087 1px solid;
}

@keyframes efecto_logo {
  0% {
    height: 130px;
  }
  20% {
    height: 135px;
  }
  40% {
    height: 140px;
  }
  60% {
    height: 144px;
  }
  70% {
    height: 140px;
  }
  80% {
    height: 138px;
  }
  90% {
    height: 135px;
  }
  100% {
    height: 130px;
  }
}
ul.justify-content-center {
  background-color: #e3f2fd;
}
ul.justify-content-center li.nav-item {
  margin: 20px;
}

.carousel {
  width: 100%;
  max-height: 550px;
  height: 550px;
  overflow: hidden;
}
.carousel img {
  height: 550px;
  object-fit: cover;
}

.rotulado {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: flex;
  width: 1200px;
  height: 430px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.galery-picture {
  margin: 10px 10px;
  margin-top: 20px;
  min-width: 200px;
  flex: 350px;
  height: 300px;
}

.contenedor-rotulado {
  min-width: 320px;
  overflow: hidden;
}

.rotulado {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: flex;
  width: 1200px;
  height: 430px;
  min-width: 320px;
  overflow: hidden;
}
.rotulado img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  border-radius: 8px;
}
.rotulado img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.row gy-5 {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}

/*# sourceMappingURL=style.css.map */
