

.formulario{
    
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 6px;
    color: grey;
     .bottons{ text-align: center;
        width: 100%;
        background-color: white;
        border: none;
        padding: 12px;
        margin: 16px 0;
        font-size: 1.1rem;
    }

}
.formulario p{
   
    height:40px;
    text-align: center;
    font-size: 1.2rem;
   }

  



.container-lg{
  
    text-align: center;
    padding: 30px;


h1{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    color: grey;
}
}         

.registro{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    text-decoration: solid;
    color:grey;
    }


.mapa {
margin: 10px;
border-radius: 5px;

}
@media(max-width:1300px){
    .registro{
        font-size: larger;
    }
}


@media(max-width:800px){
    .registro{
        font-size: small;
    }
}


@media(max-width:1300px){
    .formulario{
        width: 100%;
    }
}














