* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: azure;
}

html {
    height: 100%;
}

header {
    padding: 20px;
    height: 160px;
    background-color: azure;

    .text-center img {
        max-height: 140px;
        max-width: 300px;
        animation-name: efecto_logo;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-delay: 0s;
    }
}

.bg-navbar {
    background-color: azure;
    border-bottom: #035087 1px solid;
}

@keyframes efecto_logo {

    0% {
        height: 130px;
    }
    20% {
        height: 135px;
    }

    40% {
        height: 140px;
    }

    60% {
        height: 144px
    }

    70% {
        height: 140px
    }

    80% {
        height: 138px
    }

    90% {
        height: 135px
    }

    100% {
        height: 130px
    }

}

ul.justify-content-center {

    background-color: #e3f2fd;

    li.nav-item {
        margin: 20px;
    }
}











// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;}

// body {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 1.2rem;
//     min-height: 100%;
//     background-color: azure;
    
// }

// html {
//     height: 100%;
// }


// header{
//     padding: 20px;
//     height: 160px;
   

//         .text-center img {
//         max-height: 140px;
//         max-width: 300px;
//         animation-name: efecto_logo;
//         animation-iteration-count: infinite;
//         animation-duration: 10s;
//         animation-delay: 0s;
//     }  
// }
 


// @keyframes efecto_logo {
    
//     0%{height: 130px;
       


//     }

//     20%{height: 135px;
        

//     }
//     40%{height: 140px;
       

//     }

//     60%{height: 144px

//     }
//     70%{height: 140px

//     }
//     80%{height: 138px

//     }
//     90%{height: 135px

//     }
//     100%{height: 130px

//     }

// }

// ul.justify-content-center{
   
//     background-color: #e3f2fd;

//       li.nav-item{ margin: 20px;}}