@mixin imagenes {
    
    
   margin-top: 60px;
   margin-bottom: 100px;
   margin: 30px;

    width: 100%;
    height: 95%;
     border-radius: 6px;
    overflow:hidden ;
    background-color: white;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: default;
    transition:all 1s ease;
}
.card{
     @include imagenes
    }

@mixin imagen {
    
    
        margin-top: 60px;
        margin-bottom: 100px;
     
         width: 100%;
         height: 95%;
          border-radius: 6px;
         overflow:hidden ;
         background-color: white;
         box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0,0,0,0.19);
         cursor: default;
         transition:all 1s ease;
     }
.card2{
          @include imagen
         }




    
