// mixin para nuestros productos

@mixin cartadeimagenes{
    
    margin-top: 50px;
    margin-left:100px ;
    margin-right: 100px;
    margin-bottom: 50px;
    display: flex;
    width: 1200px;
    height: 430px;

}



.rotulado{
     @include cartadeimagenes
    }





    
// mixin para talleres



@mixin cartadetaller{
    height: 100%;
    width:500px;
    margin:auto ;
    padding: 20px;}


.card{
        @include cartadetaller
       }









    
