
.rotulado{
    @include cartadeimagenes;

    
            
            img{width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
                border-radius: 8px;
                &:hover {cursor: crosshair;
                    width: 300px;
                    opacity: 1;
                    filter: contrast(120%);}

                }
}

.card{
    @include cartadetaller;
    
       

            img{width:100%;
            flex-grow: 1;
            object-fit: cover;
            opacity:0.8;
            border-radius: 8px;
             

        }
    }

.galeria{padding: 20px;
    background-color: beige;
    margin: 30px 30px;
    box-shadow: 0 4px 8px 0 lightskyblue;
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    
    .foto{
        img{
        overflow: hidden;
        flex-grow: 1;
        object-fit: cover;
        opacity:1;
        border-radius: 5px;
    }
}
}

.container-fluid{
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
       
}



.main{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
       
}


