
// .container overflow-hidden text-center{

// display: grid;
// grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
// gap:16px;}

// .container-fluid{display: grid;
//     grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
//     gap:16px;

// }

.rotulado{
    @include cartadeimagenes;

    
            
            img{width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
                border-radius: 8px;
                &:hover {cursor: crosshair;
                    width: 300px;
                    opacity: 1;
                    filter: contrast(120%);}

                }
}

.card{
    @include cartadetaller;
    
       

            img{width:100%;
            flex-grow: 1;
            object-fit: cover;
            opacity:0.8;
         
            border-radius: 8px;
             

        }


}



    

