
.video{height: 300px;
    width: 300px;
    margin-top: 20px;

}


.somos {
    margin: 30px;
    padding: auto;
    text-align: center;
    font-size: 30px;

    .imagennosotros {

    background-image:url(../multimedia/media/imagen7.jpg ) ;
    background-size: cover;
    background-position: center center;

                 p { overflow:hidden ;
                    
                    color: black;
                    font-size: 32px;
                    text-decoration: solid;
                }
    }

}
