
.somos {
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 30px;

    .imagennosotros {

    background-image:url(../multimedia/media/imagen7.jpg ) ;
    background-size: cover;
    background-position: center center;

                 p { overflow:hidden ;
                    
                    color: black;
                    font-size: 25px;
                    text-decoration: solid
                }
    }

}
