
.card {
    
    @include imagenes{
   
         &:hover{ 
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-5%);} 

             img{
            
            height: 350px;

                    .contenido{ 
                        text-align: center;
                    padding: 30px;
                    text-align: center;

                         p{
                        align-items: center;
                        line-height: 1,5;
                        color: black;
                        font-size: medium;

                       
                        }
                    }
                }
}

}
