body {
    flex-direction: column;
    min-height: 100%;
}

html {
    height: 100%;
}

.header .logo img {
    max-height: 150px;
}

/* .footer {
    grid-area: footer; */



/* footer{
 margin-top: 100%;
background-color: rgb(174, 174, 240);
text-align: center;
color: black;
} */
/* 
footer p{font-size:larger} */

/* 

.redes {
    text-align: center;
    margin-top: 10px;
    background-color: blueviole;
}

.sociales ul {
    list-style-type: none;
    text-align: center;
}

.sociales li {

    display: inline;
    text-align: center;
    margin: 0 60px 0 0;
    color: blue;
    width: 40px;
    height: 40px;

}

.sociales a {

    text-decoration: none;
}

.sociales img {
    display: inline;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sociales p {
    color: white; */


#primeraparte {
    background-color: rgb(174, 174, 240);
}

#primeraparte img {

    width: 1000px;
    height: 1000px;




}



.imaginacion img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;

}

.imaginacion p {

    border-radius: 5px;
    float: left;
    margin-right: 10px;

}



.tallerimagen img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    float: left;
    margin: 5px;





}

.forma {
    width: 100%;
    padding: 3px;
    color: white;
    background-color: rgb(174, 174, 240);
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;

}

.forma h5 {
    font-size: 22px;
    margin-bottom: 15px;
}

.letras {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;


}

.forma .boton {
    width: 20%;
    border-radius: 4px;
    background-color: white;
}



.mapa {
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.imagennosotros {

    background-image: url("imagen7.jpg");
    background-size: cover;
    background-position: center center;


}

.somos {
    margin: none;
    padding: none;
    text-align: center;
    font-size: 30px;

}

.nosotrossomos p {
    margin-top: 20px;
    color: black;
    font-size: 50px;
    text-decoration: solid
}

video {
    height: 400px;
    width: auto;


    background-size: cover;
}



/* footer{margin-top: auto;
background-color: #b5c5c7;
text-align: center;
}
footer p{font-size: small;} */